.reset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
.line {
  margin: 32px 0 24px 0;
  width: 360px;
  height: 1px;
  background: rgb(229, 229, 229);
}